<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

<body class="archive tax-product_cat term-personal-finance term-13 woocommerce woocommerce-page wpb-js-composer 
js-comp-ver-4.9.2 vc_responsive ">
    <div class="wrapper">
        <!-- //MAIN NAVIGATION -->
        <!-- <div class="product-header bks-breadcrumb">
            <div class="container">
                <h1>Book Store</h1>

            </div>
        </div> -->
        <div class="container padding-40-v">
            <div id="main-content" class="col-xs-12 col-sm-9 right">

                <div id="container">

                    <div id="content" role="main">
                        <div style="font-size:22px;padding:15px ;">Kết quả tìm kiếm cho <b>'{{bookFilter.nameBook}}'</b></div>
                        <div class="before-shop-loop">
                            <p class="woocommerce-result-count">
                                Chọn lọc sắp xếp</p>
                            <form class="woocommerce-ordering">
                                <select name="orderby" class="orderby" (change)="onEditClick($event.target.value)">
                                <option value="sortAscending">Theo giá tiền (Tăng Dần)</option>
                                <option  value="sortDescending" >Theo giá tiền (Giảm Dần)</option>  
                                </select>
                            </form>
                        </div>

                        <div class="products clearfix" id="categorySach">
                            <div class="item col-xs-12 col-sm-4 post-78 product type-product
                                    status-publish has-post-thumbnail product_cat-budgeting-and-finance 
                                    product_cat-creative-thinking product_cat-personal-finance product_cat-romance last
                                     instock sale featured shipping-taxable purchasable product-type-simple" *ngFor="let item of books | paginate: { id:'1',itemsPerPage: 6,currentPage: p1 }">
                                <div class="product-wrap">
                                    <span *ngIf="item.sale!=0" class="on-sale">-{{item.sale}}%</span>
                                    <div class="product-image">
                                        <div class="catalog-image">
                                            <button (click)="detailBook(item);" style="background-color: transparent;border-color: transparent;">
                                               <img width="207" height="265" src="{{item.imgBook}}"
                                                class="attachment-bookstore_product_thumb size-bookstore_product_thumb wp-post-image"
                                                 alt="book6" sizes="(max-width: 207px) 100vw, 207px" />              
                                                    <div class="button yith-wcqv-button" data-product_id="78">
                                                    <i class="fa fa-search"></i>
                                               </div>
                                                       </button>
                                        </div>

                                        <div class="product-buttons">
                                            <div class="add-to-cart-btn">
                                                <a *ngIf="checkCountMax10" rel="nofollow" data-product_id="78" data-product_sku="" data-quantity="1" class="button" data-toggle="modal" data-target="#myModal" (mouseenter)="checkCountCartBeforeAdd(item)" (click)="addToCart(item)">Chọn mua</a>
                                                <a *ngIf="!checkCountMax10" rel="nofollow" data-product_id="78" data-product_sku="" data-quantity="1" class="button" (mouseenter)="checkCountCartBeforeAdd(item)" (click)="addToCart(item)">Chọn mua</a>
                                            </div>

                                            <div class="yith-wcwl-add-to-wishlist add-to-wishlist-78">
                                                <a rel="nofollow" data-product-id="78" data-product-type="simple" style="cursor:pointer;" (click)="favoriteBook(item._id)">
                                                    <i *ngIf="!validateFavorite(item._id)" class="fa fa-heart" style="margin-left:40px;color:#FFF;margin-top: 20px;"></i>
                                                    <i *ngIf="validateFavorite(item._id)" class="fa fa-heart" style="margin-left:40px;color: yellow;margin-top: 20px;"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end product-image -->
                                    <!-- Sale -->
                                    <div *ngIf="item.sale!=0" class="product-content">
                                        <h4 class="product_title">
                                            <div id="OverFlowNameBook" href="bookDetail">{{item.nameBook}}</div>
                                        </h4>
                                        <span class="price">
                                                        <ins>
                                                            <span class="woocommerce-Price-amount amount">
                                                                {{item.priceBook*(100-item.sale)/100 | currency:"VND"}}
                                                    </span>
                                        </ins>

                                        <del style="font-size: 12px">
                                                        <span class="woocommerce-Price-amount amount" >
                                                            {{item.priceBook | currency:"VND"}}
                                                    </span>
                                                    </del>
                                        </span>
                                    </div>
                                    <!-- Don't Sale -->
                                    <div *ngIf="item.sale==0" class="product-content">
                                        <h4 class="product_title">
                                            <div id="OverFlowNameBook" href="bookDetail">{{item.nameBook}}</div>
                                        </h4>
                                        <span class="price">
                                                        <ins>
                                                            <span class="woocommerce-Price-amount amount">
                                                                {{item.priceBook | currency:"VND"}}
                                                    </span>
                                        </ins>
                                        </span>
                                    </div>
                                    <!-- end product-content -->
                                </div>
                            </div>
                        </div>
                        <div>
                            <pagination-controls id='1' (pageChange)="p1 = $event"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main app container -->
            <div id="shop-sidebar" class="sidebar col-xs-12 col-sm-3 left">
                <div id="woocommerce_price_filter-2" class="widget woocommerce widget_price_filter">
                    <h3 class="widget-title">Giá</h3>
                    <div id="price-slider">
                        <p>
                            <label for="amount">Khoảng giá từ :</label>
                            <input type="text" id="amount-min" readonly style="border:0; color:#808080; font-weight:bold;font-size: 11px;">
                            <input type="text" id="amount-max" readonly style="border:0; color:#808080; font-weight:bold;font-size: 11px;">
                        </p>
                        <div class="col-sm-10">
                        <npn-slider [min]="10000" [max]="500000" [minSelected]="40000" [maxSelected]="300000"
                         [step]="10000" [showStepIndicator]="true" (onChange)="onSliderChange($event)">
                        </npn-slider>
                         </div>
                         <div class="col-sm-2">
                            <nav class="gridlist-toggle">
                                <a type="submit" (click)="filterByPrice();"><span class="fa fa-filter"></span> <em>Filter</em></a>
                            </nav>
                         </div>
                    </div>
                   
                </div>


                <div id="woocommerce_product_categories-2" class="widget woocommerce widget_product_categories">
                    <h3 class="widget-title">Loại Sách</h3>
                    <!-- <ul class="product-categories">
                        <li class="cat-item cat-item-11">
                            <a (click)="refreshBookList();">Tất Cả Sách</a>
                        </li>
                    </ul> -->
                    <ul class="product-categories" *ngFor="let category of bookCategoryService.categories
                     | slice: startPageCategories:paginationLimitCategories;">
                        <li *ngIf="category._id==bookFilter.category_id" class="cat-item cat-item-11">
                            <a style="background-color:limegreen;" (click)="gettypeCategory(category._id);">{{category.nameCategory}}</a>
                        </li>
                        <li *ngIf="category._id!=bookFilter.category_id" class="cat-item cat-item-11">
                            <a (click)="gettypeCategory(category._id);">{{category.nameCategory}}</a>
                        </li>
                    </ul>
                    <a class="myButtonCategory" *ngIf="paginationLimitCategories <  bookCategoryService.categories?.length" (click)="showMoreCategories()">
                        Xem Thêm
                    </a>
                    <a class="myButtonCategory" *ngIf="paginationLimitCategories ==  bookCategoryService.categories?.length" (click)="showLessCategories()">
                        Thu Gọn
                       </a>
                </div>
            </div>
        </div>


        <!--  message alert -->
        <div *ngIf="alertSucess" name="alertSucess" class="alert alert-success" role="alert" style=" position: fixed;width: 50%;bottom: 0;left: 40px;z-index: 1;z-index: 1000001;">
            {{alertMessage}}
        </div>
        <div *ngIf="alertFalse" name="alertFalse" class="alert alert-danger" role="alert" style=" position: fixed;width: 50%;bottom: 0;left: 40px;z-index: 1;z-index: 1000001;">
            {{alertMessage}}
        </div>
        <!--  message alert -->
    </div>
    <!-- Back to Top -->
    <div id="back-to-top" data-spy="affix" data-offset-top="300" class="back-to-top hidden-xs hidden-sm affix" style="display: block;">
        <button id="scrollToTopButton" class="btn btn-primary" title="Back to Top"><i class="fa fa-arrow-up"></i></button>
    </div>
    <!-- Back to Top -->

    <!-- modal add book -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 1000000;">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel" style="color: #2EFE64;font-size: 15px;">
                        <b>Sách <span style="color: #FA58F4;">{{addABook}}</span> đã được thêm vào giỏ hàng của bạn</b>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                    </h5>

                </div>
                <div class="modal-body">

                    <div class="d-flex justify-content-end" style="font-size: 15px;">
                        <h5>Bạn có <b>{{TongCount}}</b> quốn sách trong giỏ hàng</h5>
                        <h5 style="margin-top: -5px;">Tổng tiền : <b style="color :#FE2E9A;font-size: 21px;">{{TongTien|currency:"VND"}}</b></h5>
                    </div>

                    <div class="col mb-2">
                        <div class="row">
                            <div class="col-sm-12  col-md-6">
                                <button id="continue" class="btn btn-block btn-light " style="padding: 10px 16px;" data-dismiss="modal">Tiếp tục mua hàng</button>
                            </div>
                            <div class="col-sm-12 col-md-6 text-right">
                                <button class="btn btn-lg btn-block btn-success text-uppercase" type="button" data-dismiss="modal" (click)="goToCartBook()">Giỏ hàng   </button>
                            </div>

                        </div>
                    </div>
                    <h4>Có thể bạn sẽ thích</h4>
                    <div class="modal-footer border-top-0 d-flex justify-content-between" id="scroll">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-3 product type-product
                            status-publish has-post-thumbnail product_cat-budgeting-and-finance 
                            product_cat-creative-thinking product_cat-personal-finance product_cat-romance last
                             instock sale featured shipping-taxable purchasable product-type-simple" *ngFor="let item of books  |
                            paginate: { id:'2',itemsPerPage: 4,currentPage: p }">
                                <div class="product-wrap" style="height: 270px;">
                                    <span *ngIf="item.sale!=0" class="on-sale">-{{item.sale}}%</span>
                                    <div class="product-image">
                                        <div class="catalog-image">
                                            <button (click)="detailBook(item);" data-dismiss="modal" style="background-color: transparent;border-color: transparent;">
                                   <img width="207" height="265" src="{{item.imgBook}}"
                                    class="attachment-bookstore_product_thumb size-bookstore_product_thumb wp-post-image"
                                     alt="book6" sizes="(max-width: 207px) 100vw, 207px" />              
                                        <div class="button yith-wcqv-button" data-product_id="78">
                                        <i class="fa fa-search"></i>
                                   </div>
                                           </button>
                                        </div>

                                        <div class="product-buttons">
                                            <div class="add-to-cart-btn"><a rel="nofollow" data-product_id="78" data-product_sku="" data-quantity="1" class="button" (click)="addToCart(item)">Chọn mua</a>
                                            </div>

                                            <div class="yith-wcwl-add-to-wishlist add-to-wishlist-78">
                                                <a rel="nofollow" data-product-id="78" data-product-type="simple" style="cursor:pointer;" (click)="favoriteBook(item._id)">
                                                    <i *ngIf="!validateFavorite(item._id)" class="fa fa-heart" style="margin-right: 30px;color:#FFF;margin-top: 20px;"></i>
                                                    <i *ngIf="validateFavorite(item._id)" class="fa fa-heart" style="margin-right: 30px;color: yellow;margin-top: 20px;"></i> </a>
                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <!-- end product-image -->
                                    <!-- Sale -->
                                    <div *ngIf="item.sale!=0" class="product-content">
                                        <h4 class="product_title">
                                            <div id="OverFlowNameBook" href="bookDetail">{{item.nameBook}}</div>
                                        </h4>
                                        <span class="price">
                                                        <ins>
                                                            <span class="woocommerce-Price-amount amount">
                                                                {{item.priceBook*(100-item.sale)/100 | currency:"VND"}}
                                                    </span>
                                        </ins>

                                        <del style="font-size: 12px">
                                                        <span class="woocommerce-Price-amount amount" >
                                                            {{item.priceBook | currency:"VND"}}
                                                    </span>
                                                    </del>
                                        </span>
                                    </div>
                                    <!-- Don't Sale -->
                                    <div *ngIf="item.sale==0" class="product-content">
                                        <h4 class="product_title">
                                            <div id="OverFlowNameBook" href="bookDetail">{{item.nameBook}}</div>
                                        </h4>
                                        <span class="price">
                                                        <ins>
                                                            <span class="woocommerce-Price-amount amount">
                                                                {{item.priceBook | currency:"VND"}}
                                                    </span>
                                        </ins>
                                        </span>
                                    </div>
                                    <!-- end product-content -->
                                </div>

                            </div>

                        </div>
                        <div>
                            <pagination-controls id='2' (pageChange)="p = $event"></pagination-controls>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
<style>
    #price-slider {
        width: 300px;
        height: 80px;
        font-size: 14px;
    }
    
    #price-slider input {
        width: 90px;
        display: inline-block;
        font-size: 12px;
    }
    
    #slider-range {
        position: relative;
        margin: auto;
        width: 250px;
        height: 13px;
        border: solid 1px black;
    }
    
    #slider-range .ui-slider-handle {
        position: absolute;
        width: 15px;
        height: 5px;
        margin-top: 2px;
        border: solid 1px black;
        cursor: pointer;
    }
    
    #slider-range .ui-slider-range {
        background: blue;
    }
    
    #slider-range .ui-corner-all {
        border-radius: 0px;
    }
</style>