<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->

<meta charset="UTF-8" />
<body class="page page-id-7 page-template-default woocommerce-account woocommerce-page wpb-js-composer js-comp-ver-4.9.2 vc_responsive currency-usd">
    <div class="wrapper">



        <!-- //MAIN NAVIGATION -->
        <div class="page-header bks-breadcrumb">
            <div class="container">
                <h1>Giỏ Hàng</h1>
            </div>
        </div>

        <br>

        <div id="page-content" role="main">

            <div class="container mb-4">
                <div *ngIf="checkViewCart">
                    <div style="background-color: #EEE;height:60px;width: 100%;text-align: center;">
                        <b style="top:15px;position: relative;">Giỏ hàng của bạn đang trống </b></div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table table-striped" style="color: black;">
                                <thead>
                                    <tr>
                                        <th scope="col"> </th>
                                        <th scope="col">Tên Sách</th>
                                        <th scope="col">Đơn Giá</th>
                                        <th scope="col" class="text-center">Số Lượng</th>
                                        <th scope="col" class="text-right">Tổng Tiền</th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cartbook of CartBook">

                                        <td><img src={{cartbook.imgBook}} (click)=ViewBookDetail(cartbook._id)/> </td>
                                        <td>{{cartbook.nameBook}}</td>
                                        <td>{{cartbook.priceBook|currency:"VND"}}</td>
                                        <td><input class="form-control" type="number" min = "0" id = "number" 
                                            value="{{cartbook.count}}" (change)="getCountUpdate($event,cartbook._id)" 
                                            onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" 
                                            style="text-align: center;" /></td>
                                        <td class="text-right">{{cartbook.priceBook*cartbook.count|currency:"VND"}}</td>
                                        <td class="text-right"><button class="btn btn-sm btn-danger" type="button" (click)="deleteCartBook(cartbook._id)"><i class="fa fa-trash"></i> 
                                </button> </td>
                                        <td><button class="btn btn-sm btn-info" type="button" (click)="updateCartBook(cartbook._id)"><i class="fa fa-edit"></i> 
                                </button> </td>

                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Tổng Tiền</td>
                                        <td class="text-right">{{TongTien|currency:"VND"}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Giao Hàng</td>
                                        <td class="text-right">6,90 đ</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><strong>Xác Nhận Tổng Tiền</strong></td>
                                        <td class="text-right"><strong>346,90 đ</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col mb-2">
                        <div class="row">
                            <div class="col-sm-12  col-md-6">
                                <button id="continue" class="btn btn-block btn-light" (click)="goToBookCategory()">Continue Shopping</button>
                            </div>
                            <div class="col-sm-12 col-md-6 text-right">
                                <button *ngIf="checkViewCart" class="btn btn-lg btn-block btn-success text-uppercase" type="button" (click)="checkoutWhenNull()">Checkout</button>
                                <button *ngIf="!checkViewCart" class="btn btn-lg btn-block btn-success text-uppercase" data-toggle="modal" data-target="#cartModal" type="button" (click)="checkout()">Checkout</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- #content -->


        <!-- Back to Top -->
        <div id="back-to-top" data-spy="affix" data-offset-top="300" class="back-to-top hidden-xs hidden-sm affix">
            <button id="scrollToTopButton" class="btn btn-primary" title="Back to Top"><i class="fa fa-arrow-up"></i></button>
        </div>
        <!-- Back to Top -->
    </div>

    <div *ngIf="alertSucess" name="alertSucess" class="alert alert-success" role="alert" style=" position: fixed;width: 50%;bottom: 0;left: 40px;z-index: 1;">
        {{alertMessage}}
    </div>
    <div *ngIf="alertFalse" name="alertFalse" class="alert alert-danger" role="alert" style=" position: fixed;width: 50%;bottom: 0;left: 40px;z-index: 1;">
        {{alertMessage}}
    </div>



    <!--model checkout-->
    <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered " role="document ">
            <div class="modal-content ">
                <div class="modal-header border-bottom-0 ">
                    <h5 class="modal-title " id="exampleModalLabel " style="font-size: 2rem; ">
                        Your Shopping Cart
                    </h5>
                    <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
                <span aria-hidden="true ">&times;</span>
              </button>
                </div>
                <div class="row">
                    <div class="col-sm-8" id="scroll">
                        <div class="modal-body ">
                            <table class="table table-image ">
                                <thead>
                                    <tr style="font-size: 2rem;">
                                        <th scope="col "></th>
                                        <th scope="col ">Book Name</th>
                                        <th scope="col ">Price</th>
                                        <th scope="col ">Count</th>
                                        <th scope="col ">Total</th>

                                    </tr>
                                </thead>
                                <tbody *ngFor="let cartbook of CartBook">
                                    <tr>
                                        <td class="w-25 ">
                                            <img src={{cartbook.imgBook}} alt="Sheep ">
                                        </td>
                                        <td>{{cartbook.nameBook}}</td>
                                        <td>{{cartbook.priceBook |currency:"VND"}}</td>
                                        <td>{{cartbook.count}}</td>
                                        <td>{{cartbook.priceBook*cartbook.count |currency:"VND"}}</td>

                                    </tr>

                                </tbody>
                            </table>
                            <div class="d-flex justify-content-end ">
                                <h5 style="float:right;font-size: 4rem;margin-top: -1rem; ">Total: <span class="price text-success ">{{TongTien |currency:"VND"}}</span></h5>
                            </div>
                        </div>
                    </div>
                    <div style="margin-left :68%;position: absolute;height:400px;width:1px;background-color:#EEE5E5;"></div>
                    <div class="col-sm-4">
                        <div class="modal-footer border-top-0 d-flex justify-content-between">

                            <div style="padding-bottom: 30px;">
                                <h3 style="font-weight:bold;margin-top: 15px; ">Your profile</h3>
                                <table id="profile">
                                    <tr>
                                        <th>Email</th>
                                        <!-- <td>{{accountSocial.email}}</td>
                                         -->
                                        <td><input type="text" name="Email" (change)="editEmail($event)" placeholder={{email}}></td>
                                    </tr>
                                    <tr>
                                        <th>Name</th>
                                        <!-- <td>{{accountSocial.username}}</td> -->
                                        <td><input type="text" name="Name" (change)="editUserName($event)" placeholder={{username}}></td>
                                    </tr>
                                    <tr>
                                        <th>Address</th>
                                        <td><input type="text" name="Address" (change)="editAddress($event)" placeholder={{address}}></td>
                                    </tr>
                                    <tr>
                                        <th>Phone</th>
                                        <td><input type="text" name="Phone" (change)="editPhone($event)" placeholder={{phone}}></td>
                                    </tr>
                                </table>

                            </div>
                            <button type="button " class="btn btn-secondary " data-dismiss="modal">Close</button>
                            <button type="button " class="btn btn-success " (click)=payCheckOut() data-dismiss="modal">Checkout</button>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</body>