<head>
    <meta charset="utf-8" />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
</head>

<body class="">
    <div class="wrapper ">

        <div class="main-panel" style="font-size: 13px;">
            <!-- Navbar -->
            <app-header></app-header>
            <div class="content" style="background-color: #EEEEEE;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h3 class="card-title" style="font-size: 13px;">Thông Tin Seri</h3>
                                </div>
                                <div class="card-body">
                                    <p *ngIf="alertSucess" style="color: green;font-size: 16px;text-align: center;">{{alertMessage}}</p>
                                    <form #bookForm="ngForm" (ngSubmit)="onSubmit(bookForm)" class="appointment-form" style="color: #555555;">
                                        <div class="col-sm-4">
                                            <div class="input-field col s12">

                                                <!-- <img alt="" src="{{ bookService.selectedBook.imgBook }}" style="width: 100%;height: 100%;"> -->

                                            </div>
                                        </div>
                                        <div class="col-sm-8">

                                            <div class="row" style="padding-bottom: 10px;">
                                                <div class="input-field col s12" style="padding: 0px;">
                                                    <label>Tên Seri</label>
                                                    <input class="form-control" type="text" name="seriName" #name="ngModel" [(ngModel)]="seri.seriName" placeholder="Nhập Tên Seri" required>

                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <button class="btn btn-primary" type="submit" style="border-radius: 30px ; width: 100%;height: 50px;font-size: 13px;">Lưu Thông Tin</button>

                                                </div>
                                                <div class="col-sm-6">
                                                    <button class="btn btn-primary" type="button" (click)="cancel()" style="border-radius: 30px; width: 100%;height: 50px;font-size: 13px;">Trở Về</button>
                                                </div>

                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</body>