<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">

<body class="archive tax-product_cat term-personal-finance term-13 woocommerce woocommerce-page wpb-js-composer 
js-comp-ver-4.9.2 vc_responsive ">
    <div class="wrapper">

        <!-- TOPBAR -->
        <div id="topbar" class="topbar">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 text-left header-address">
                        <i class="fa fa-map-marker"></i> Brooklyn, NY 10036, United States <i class="fa fa-mobile"></i> 1-800-123-1234 </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 text-right header-quick-links">
                        <ul id="menu" class="nav  nav-pills nav-stacked">
                            <li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-26">
                                <button id="about" style="background-color: transparent;border-color: transparent;">About Us</button>
                            </li>
                            <li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-27">
                                <button id="login" (click)="moveToAccount();" style="background-color: transparent;border-color: transparent;">Login / Register</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- //TOPBAR -->

        <!-- HEADER -->
        <header id="header" class="header">
            <div class="container">
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-xs-12 col-sm-6 col-lg-8 col-md-6 logo">
                        <div class="site-logo">
                            <a href="/" title="Book Store">
                                <img class="logo-img" src="../../assets/img/01/logo_green.png" alt="Book Store" />
                            </a>
                        </div>
                    </div>
                    <!-- //LOGO -->
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                        <!-- bks-cart-widget -->
                        <div class="bks-cart-widget right">
                            <div class="currency-switcher pull-left">
                                <form method="post" action="#" class="woocommerce-currency-switcher-form ">
                                    <input type="hidden" name="woocommerce-currency-switcher" value="USD" />
                                    <select name="woocommerce-currency-switcher" style="width: 100px;" data-width="100px" data-flag-position="right" class="woocommerce-currency-switcher" onchange="woocs_redirect(this.value);
                                                                void(0);">                                                                                                                   
                                                                <option  value="USD"  selected='selected' data-imagesrc="" data-icon="" data-description="USA dollar">USD, &#36;</option>                                                                                                                        
                                                                <option  value="EUR"  data-imagesrc="" data-icon="" data-description="Europian Euro">EUR, &euro;</option>
                                                                    </select>
                                    <div style="display: none;">WOOCS 1.1.5.1</div>
                                </form>
                            </div>
                            <div class="mini-cart pull-right">
                                <div class="minicart-button">
                                    <span class="cart-item-info jb-cart-section">                                        
                                     <a href="../../cart/index.html">Cart<i class="fa fa-shopping-bag"></i></a>
                                 <a class='cart-content' href='../../cart/index.html' title='View your shopping cart'><span class='cart_items'>0</span></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- //bks-cart-widget -->
                    </div>
                </div>
            </div>
        </header>
        <!-- //HEADER -->
        <!-- MAIN NAVIGATION -->
        <nav class="main-menu affix-top" data-spy="affix" data-offset-top="110">
            <div class="container">
                <div id="vc-nav-id-16-wrapper" class=" vc-mm-menu-h  vc-mm-h-layout-5 vc-mm-container  vc-transparent ">
                    <ul id="vc-nav-id-16-mobile" class="vc-nav-on-mobile vc-mm-menu">
                        <li class="vc-menu-item  mobile-btn"><a class="nav-link" href="../../index.html"><i class="fa fa-home"></i></a> </li>
                        <li class="vc-menu-item vc-mm-mobile-toggle">
                            <a href="#" class="nav-link vc-mm-mobile-toggle-btn"><i class="fa fa-bars"></i></a>
                            <h3 class="vc-mm-child-title lv-0">
                                <span>Main Menu</span>
                                <a class="vc-close" href="#"></a>
                            </h3>
                        </li>
                    </ul>
                    <ul id="vc-nav-id-16" data-menu-type="h" class="vc-nav-on-desktop vc-mm-menu">
                        <li class="vc-menu-item vc-mm-mobile-toggle">
                            <a href="#" class="nav-link vc-mm-mobile-toggle-btn"><i class="fa fa-bars"></i></a>
                            <h3 class="vc-mm-child-title lv-0">
                                <span>Main Menu</span>
                                <a class="vc-close" href="#"></a>
                            </h3>
                        </li>
                        <li id="menu-item-30" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-has-children menu-item-30 vc-menu-item vc-d-0 vc-mm-layout-full"><a href="http://wp.acmeedesign.com/bookstore" class="nav-link"><span class="vc-label">Trang Chủ</span></a>
                            <div class='sub-menu'>
                                <ul class="sub-menu-inner">
                                    <li id="menu-item-376" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-376 vc-menu-item vc-d-1 vc-mm-layout-full"><a href="http://wp.acmeedesign.com/bookstore" class="nav-link"><span class="vc-label">Home Style 1</span></a></li>
                                    <li id="menu-item-377" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-377 vc-menu-item vc-d-1 vc-mm-layout-full"><a href="http://wp.acmeedesign.com/bookstore2" class="nav-link"><span class="vc-label">Home Style 2</span></a></li>
                                    <li id="menu-item-378" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-378 vc-menu-item vc-d-1 vc-mm-layout-full"><a href="http://wp.acmeedesign.com/bookstore3" class="nav-link"><span class="vc-label">Home Style 3</span></a></li>
                                    <li id="menu-item-379" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-379 vc-menu-item vc-d-1 vc-mm-layout-full"><a href="http://wp.acmeedesign.com/bookstore4" class="nav-link"><span class="vc-label">Home Style 4</span></a></li>
                                    <li id="menu-item-380" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-380 vc-menu-item vc-d-1 vc-mm-layout-full"><a href="http://wp.acmeedesign.com/bookstore5" class="nav-link"><span class="vc-label">Home Style 5</span></a></li>
                                </ul>
                            </div>
                        </li>
                        <li id="menu-item-118" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-118 vc-menu-item vc-d-0 vc-mm-mega vc-mm-align-default vc-mm-layout-full" data-mm-settings="{&quot;layout&quot;:&quot;full&quot;,&quot;width&quot;:&quot;&quot;}">
                            <a href="#" class="nav-link"><span class="vc-label">Khuyến Mãi</span></a>
                            <div class="vc-mm-mega-cont">
                                <div class="vc-mm-mega-cont-inner">
                                    <div class="vc_row wpb_row vc_row-fluid">
                                        <div class="page-container">
                                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                                <div class="vc_column-inner vc_custom_1454743982508">
                                                    <div class="wpb_wrapper">
                                                        <h3 style="text-align: left" class="vc_custom_heading">Novel</h3>
                                                        <div class="vc_wp_custommenu wpb_content_element">
                                                            <div class="widget widget_nav_menu">
                                                                <div class="menu-novel-container">
                                                                    <ul id="menu-novel" class="menu">
                                                                        <li id="menu-item-120" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-120"><a href="../romance/index.html">Romance</a></li>
                                                                        <li id="menu-item-121" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-121"><a href="../fantasy/index.html">Fantasy</a></li>
                                                                        <li id="menu-item-122" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-122"><a href="../thrillers/index.html">Thrillers</a></li>
                                                                        <li id="menu-item-123" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-123"><a href="../science-fiction/index.html">Science Fiction</a></li>
                                                                        <li id="menu-item-124" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-124"><a href="../historical-fiction/index.html">Historical Fiction</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                                <div class="vc_column-inner vc_custom_1454743993099">
                                                    <div class="wpb_wrapper">
                                                        <h3 style="text-align: left" class="vc_custom_heading">Business</h3>
                                                        <div class="vc_wp_custommenu wpb_content_element">
                                                            <div class="widget widget_nav_menu">
                                                                <div class="menu-business-container">
                                                                    <ul id="menu-business" class="menu">
                                                                        <li id="menu-item-125" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-125"><a href="../budgeting-and-finance/index.html">Budgeting and Finance</a></li>
                                                                        <li id="menu-item-126" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-126"><a href="../creative-thinking/index.html">Creative Thinking</a></li>
                                                                        <li id="menu-item-127" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat current-menu-item menu-item-127"><a href="index.html">Personal Finance</a></li>
                                                                        <li id="menu-item-128" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-128"><a href="../people-management/index.html">People Management</a></li>
                                                                        <li id="menu-item-129" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-129"><a href="../sales-and-marketting/index.html">Sales and Marketting</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                                <div class="vc_column-inner ">
                                                    <div class="wpb_wrapper">
                                                        <div class=''>
                                                            <div class='dis-bottom-left'>
                                                                <div class='dis-bottom-left-img'><img src='../../assets/img/01/home-1-text-book.jpg' alt='TEXT BOOKS'>
                                                                    <div class='dis-bottom-left-content'>
                                                                        <div class='dis-bottom-left-text'>
                                                                            <h6 style='color:#323232'>SHOP CATEGORY</h6>
                                                                            <h2 style='color:#27ae61'>TEXT BOOKS</h2><a href='booksCategory' style='color:#212121' class='btn-link'>Shop Now <em class='fa fa-long-arrow-right'></em></a></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="menu-item-136" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-136 vc-menu-item vc-d-0 vc-mm-mega vc-mm-align-default vc-mm-layout-full" data-mm-settings="{&quot;layout&quot;:&quot;full&quot;,&quot;width&quot;:&quot;&quot;}">
                            <a href="#" class="nav-link"><span class="vc-label">Tin Tức</span></a>
                            <div class="vc-mm-mega-cont">
                                <div class="vc-mm-mega-cont-inner">
                                    <div class="vc_row wpb_row vc_row-fluid">
                                        <div class="page-container">
                                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                                <div class="vc_column-inner vc_custom_1454746439857">
                                                    <div class="wpb_wrapper">
                                                        <h3 style="text-align: left" class="vc_custom_heading">HEALTH AND BEAUTY</h3>
                                                        <div class="vc_wp_custommenu wpb_content_element">
                                                            <div class="widget widget_nav_menu">
                                                                <div class="menu-health-and-beauty-container">
                                                                    <ul id="menu-health-and-beauty" class="menu">
                                                                        <li id="menu-item-143" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-143"><a href="../budgeting-and-finance/index.html">Budgeting and Finance</a></li>
                                                                        <li id="menu-item-144" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-144"><a href="../creative-thinking/index.html">Creative Thinking</a></li>
                                                                        <li id="menu-item-145" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat current-menu-item menu-item-145"><a href="index.html">Personal Finance</a></li>
                                                                        <li id="menu-item-146" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-146"><a href="../people-management/index.html">People Management</a></li>
                                                                        <li id="menu-item-147" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-147"><a href="../sales-and-marketting/index.html">Sales and Marketting</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                                <div class="vc_column-inner vc_custom_1454746449744">
                                                    <div class="wpb_wrapper">
                                                        <h3 style="text-align: left" class="vc_custom_heading">HISTORY</h3>
                                                        <div class="vc_wp_custommenu wpb_content_element">
                                                            <div class="widget widget_nav_menu">
                                                                <div class="menu-history-container">
                                                                    <ul id="menu-history" class="menu">
                                                                        <li id="menu-item-138" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-138"><a href="../creative-thinking/index.html">Creative Thinking</a></li>
                                                                        <li id="menu-item-139" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat current-menu-item menu-item-139"><a href="index.html">Personal Finance</a></li>
                                                                        <li id="menu-item-140" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-140"><a href="../thrillers/index.html">Thrillers</a></li>
                                                                        <li id="menu-item-141" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-141"><a href="../science-fiction/index.html">Science Fiction</a></li>
                                                                        <li id="menu-item-142" class="menu-item menu-item-type-taxonomy menu-item-object-product_cat menu-item-142"><a href="../historical-fiction/index.html">Historical Fiction</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                                <div class="vc_column-inner ">
                                                    <div class="wpb_wrapper">
                                                        <div class=''>
                                                            <div class='dis-bottom-left'>
                                                                <div class='dis-bottom-left-img'><img src='../../assets/img/02/home-1-ebook.jpg' alt='E-BOOKS'>
                                                                    <div class='dis-bottom-left-content'>
                                                                        <div class='dis-bottom-left-text'>
                                                                            <h6 style='color:#323232'>SHOP CATEGORY</h6>
                                                                            <h2 style='color:#27ae61'>E-BOOKS</h2><a href='booksCategory' style='color:#212121' class='btn-link'>Shop Now <em class='fa fa-long-arrow-right'></em></a></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li id="menu-item-29" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-29 vc-menu-item vc-d-0 vc-mm-layout-full"><a href="../../shop/index.html" class="nav-link"><span class="vc-label">Cửa Hàng</span></a></li>
                        <li id="menu-item-151" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-151 vc-menu-item vc-d-0 vc-mm-layout-full"><a href="#" class="nav-link"><span class="vc-label">Liên Hệ</span></a>
                            <div class='sub-menu'>
                                <ul class="sub-menu-inner">
                                    <li id="menu-item-402" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-402 vc-menu-item vc-d-1 vc-mm-layout-full"><a href="../../tabbed-products-slider/index.html" class="nav-link"><span class="vc-label">Tabbed products slider</span></a></li>
                                    <li id="menu-item-405" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-405 vc-menu-item vc-d-1 vc-mm-layout-full"><a href="../../featured-products/index.html" class="nav-link"><span class="vc-label">Featured Products</span></a></li>
                                    <li id="menu-item-403" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-403 vc-menu-item vc-d-1 vc-mm-layout-full"><a href="../../recent-products/index.html" class="nav-link"><span class="vc-label">Recent Products</span></a></li>
                                    <li id="menu-item-401" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-401 vc-menu-item vc-d-1 vc-mm-layout-full"><a href="../../typography/index.html" class="nav-link"><span class="vc-label">Typography</span></a></li>
                                    <li id="menu-item-404" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-404 vc-menu-item vc-d-1 vc-mm-layout-full"><a href="../../google-map/index.html" class="nav-link"><span class="vc-label">Google map</span></a></li>
                                    <li id="menu-item-406" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-406 vc-menu-item vc-d-1 vc-mm-layout-full"><a href="../../faq/index.html" class="nav-link"><span class="vc-label">FAQ</span></a></li>
                                </ul>
                            </div>
                        </li>
                     
                    </ul>
                </div>
            </div>
        </nav>
        <!-- //MAIN NAVIGATION -->
        <div class="product-header bks-breadcrumb">
            <div class="container">
                <h1>BOOKSTORE</h1>
            </div>
        </div>
        <div class="container padding-40-v">
            <div id="main-content" class="col-xs-12 col-sm-9 right">
                <div id="container">
                    <div id="content" role="main">

                        <div class="before-shop-loop">
                            <p class="woocommerce-result-count">
                                Showing all 5 results</p>
                            <form class="woocommerce-ordering" method="get">
                                <select name="orderby" class="orderby">
					<option value="menu_order"  selected='selected'>Default sorting</option>
					<option value="popularity" >Sort by popularity</option>
					<option value="rating" >Sort by average rating</option>
					<option value="date" >Sort by newness</option>
					<option value="price" >Sort by price: low to high</option>
					<option value="price-desc" >Sort by price: high to low</option>
			</select>
                            </form>
                            <nav class="gridlist-toggle">
                                <input type="text" id = "ipSearch" placeholder="Search sách theo tên sách" style="border-color: lightslategrey;height: 30px;"/>
                                <a href="#" id="searchBook" title="Tra Cứu Sách">
                                    <span class="fa fa-search"></span></a>
                                <a href="#" id="addBook" title="Thêm Sách">
                                    <span class="fa fa-plus"></span></a>
                                    <a href="#" id="list" title="List view">
                                <span class="fa fa-th-list">           
                            </span></a>
                            </nav>
                        </div>

                        <div class="products clearfix">
                            <div class="item col-xs-12 col-sm-4 post-78 product type-product status-publish has-post-thumbnail product_cat-budgeting-and-finance product_cat-creative-thinking product_cat-personal-finance 
                            product_cat-romance last instock sale featured shipping-taxable purchasable product-type-simple">
                                <div class="product-wrap">

                                    <span class="on-sale">Sale!</span>
                                    <div class="product-image">
                                        <div class="catalog-image">
                                            <button (click)="moveToBookDetail();" style="background-color: transparent;border-color: transparent;">
                        <img width="207" height="265" src="../../wp-content/uploads/2016/02/book6.png" class="attachment-bookstore_product_thumb size-bookstore_product_thumb wp-post-image" alt="book6" srcset="http://wp.acmeedesign.com/bookstore/wp-content/uploads/2016/02/book6-100x128.png 100w, http://wp.acmeedesign.com/bookstore/wp-content/uploads/2016/02/book6.png 555w" sizes="(max-width: 207px) 100vw, 207px" />              
                             <div class="button yith-wcqv-button" data-product_id="78">
                             <i class="fa fa-search"></i>
                        </div>
                   </button>
                                        </div>

                                        <div class="product-buttons">
                                                    <div class="container-fluid">
                                                        <div class="row">
                                                          <div class="col-sm-7" id="updateSach" style="color: wheat;">
                                                                <button id = "btns" style="background-color: transparent;
                                                                border-color: transparent;color: white;font-size: 14px;">
                                                                    Cập Nhật Sách</button>
                                                        </div>
                                                          <div class="col-sm-5" id="xoaSach" style="color: wheat;">
                                                            <button id = "btns" style="background-color: transparent;
                                                            border-color: transparent;color: white;font-size: 14px;">
                                                                Xóa Sách</button>
                                                        </div>
                                                        </div></div>
                                        </div>
                                    </div>
                                    <!-- end product-image -->
                                    <div class="product-content">
                                        <h4 class="product_title">
                                            <a class="bks_product_title_link" href="bookDetail">Loving Kitchen 2</a></h4>
                                        <span class="price"><del><span class="woocommerce-Price-amount amount">
        <span class="woocommerce-Price-currencySymbol">&#036;</span>40.00</span>
                                        </del> <ins>
            <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&#036;
            </span>20.00</span></ins></span>
                                        <div class="product-desc">
                                            <p>Completely pursue scalable customer service through sustainable potentialities.</p>
                                        </div>
                                    </div>
                                    <!-- end product-content -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="shop-sidebar" class="sidebar col-xs-12 col-sm-3 left">
                <div id="woocommerce_product_categories-2" class="widget woocommerce widget_product_categories">
                    <h3 class="widget-title">Browse Books</h3>
                    <ul class="product-categories">
                        <li class="cat-item cat-item-11"><a href="../budgeting-and-finance/index.html">Sách Kỹ Năng Sống</a></li>
                        <li class="cat-item cat-item-12"><a href="../creative-thinking/index.html">Sách Kinh Tế</a></li>
                        <li class="cat-item cat-item-9"><a href="../fantasy/index.html">Sách Khoa Học - Kỹ Thuật</a></li>
                        <li class="cat-item cat-item-10"><a href="../historical-fiction/index.html">Sách Công Nghệ Thông Tin</a></li>
                        <li class="cat-item cat-item-14"><a href="../people-management/index.html">Sách Văn Học</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Back to Top -->
        <div id="back-to-top" data-spy="affix" data-offset-top="300" class="back-to-top hidden-xs hidden-sm affix">
            <button id="scrollToTopButton" class="btn btn-primary" title="Back to Top"><i class="fa fa-arrow-up"></i></button>
        </div>
        <!-- Back to Top -->


        <!-- FOOTER -->
        <footer id="bks-footer" class="wrap bks-footer">
            <!-- FOOT NAVIGATION -->
            <div class="footer-nav">
                <div class="container">
                    <!-- SPOTLIGHT -->
                    <div class="bks-spotlight bks-footnav row">

                        <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="widget bks-module">
                                <a href="/" title="Book Store">
                                    <img class="logo-img" src="../../assets/img/01/logo_green.png" alt="Book Store" />
                                </a>
                            </div>
                            <div id="text-2" class="widget t3-module module widget_text">
                                <div class="textwidget">
                                    <ul class='bks_icon_list '>
                                        <li><em style='color:#27ae61;' class='fa fa-paper-plane'></em>
                                            <div class='list_content' style=''>868 Bechole Road, Victory Lorem Ispuse, New York</div>
                                        </li>
                                    </ul>
                                    <ul class='bks_icon_list '>
                                        <li><em style='color:#27ae61;' class='fa fa-phone'></em>
                                            <div class='list_content' style=''>Phone: (+80) 123 456 Fax: (+80) 123 456 789</div>
                                        </li>
                                    </ul>
                                    <ul class='bks_icon_list '>
                                        <li><em style='color:#27ae61;' class='fa fa-envelope'></em>
                                            <div class='list_content' style=''>Email: Contact@example.com Website: www.example.com</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div id="nav_menu-2" class="widget t3-module module widget_nav_menu">
                                <h2 class="widget-title">SHOPPING GUIDE</h2>
                                <div class="menu-footer-menu-1-container">
                                    <ul id="menu-footer-menu-1" class="menu">
                                        <li id="menu-item-156" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-156"><a href="#">How to buy</a></li>
                                        <li id="menu-item-157" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-157"><a href="#">Faq</a></li>
                                        <li id="menu-item-158" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-158"><a href="#">Store Locations</a></li>
                                        <li id="menu-item-159" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-159"><a href="#">Return Policy</a></li>
                                        <li id="menu-item-160" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-160"><a href="#">Payment</a></li>
                                        <li id="menu-item-161" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-161"><a href="#">Shipment</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div id="nav_menu-3" class="widget t3-module module widget_nav_menu">
                                <h2 class="widget-title">INFORMATION</h2>
                                <div class="menu-footer-menu-2-container">
                                    <ul id="menu-footer-menu-2" class="menu">
                                        <li id="menu-item-162" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-162"><a href="#">About Us</a></li>
                                        <li id="menu-item-163" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-163"><a href="#">Delivery information</a></li>
                                        <li id="menu-item-164" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-164"><a href="#">Privacy policy</a></li>
                                        <li id="menu-item-165" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-165"><a href="#">Discount</a></li>
                                        <li id="menu-item-166" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-166"><a href="#">Customer service</a></li>
                                        <li id="menu-item-167" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-167"><a href="#">Terms &#038; condition</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div id="text-5" class="widget t3-module module widget_text">
                                <h2 class="widget-title">Store Locations</h2>
                                <div class="textwidget"><img src="../../assets/img/02/worldmap.png" alt="Locations" /></div>
                            </div>
                            <div id="wp-social-widget-2" class="widget t3-module module widget_wp-social-widget">
                                <ul class='social-links'>
                                    <li><a href="#"><span class="social-icon sicon-behance"></span></a></li>
                                    <li>
                                        <a href="#">
                                            <span class="social-icon sicon-facebook"></span></a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="social-icon sicon-google"></span></a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="social-icon sicon-instagram"></span></a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span class="social-icon sicon-linkedin"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- SPOTLIGHT -->
                </div>
            </div>
            <!-- //FOOT NAVIGATION -->


            <div class="bks-copyright">
                <div class="container">
                    <div class="row">
                        <!-- //COPYRIGHTS -->
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="col-md-12 copyright">
                                <small>Copyright © 2015 Book StoreAll Rights Reserved.</small>
                            </div>
                        </div>
                        <!-- Footer Right Content -->
                        <div class="col-md-6 col-sm-6 col-xs-11">
                            <div class="right">
                                <img class="alignnone size-full wp-image-327" src="../../assets/img/02/payments_logos.png" alt="payments_logos" width="222" height="18" /> </div>
                            <!-- Footer Right Content -->
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //FOOTER -->

    </div>


    <div id="yith-quick-view-modal">

        <div class="yith-quick-view-overlay"></div>

        <div class="yith-wcqv-wrapper">

            <div class="yith-wcqv-main">

                <div class="yith-wcqv-head">
                    <a href="#" id="yith-quick-view-close" class="yith-wcqv-close">X</a>
                </div>

                <div id="yith-quick-view-content" class="woocommerce single-product"></div>

            </div>

        </div>
    </div>
</body>