
<body class="page page-id-7 page-template-default woocommerce-account woocommerce-page wpb-js-composer js-comp-ver-4.9.2 vc_responsive currency-usd">
    <div class="wrapper">



        <!-- //MAIN NAVIGATION -->
        <div class="page-header bks-breadcrumb">
            <div class="container">
                <h1>Giỏ Hàng</h1>
            </div>
        </div>

        <br>

        <div id="page-content" role="main">

            <div class="container mb-4">
                <div *ngIf="checkViewCart">
                    <div style="background-color: #EEE;height:60px;width: 100%;text-align: center;">
                        <b style="top:15px;position: relative;">Giỏ hàng của bạn đang trống </b></div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive">
                            <table class="table table-striped" style="color: black;">
                                <thead>
                                    <tr>
                                        <th scope="col"> </th>
                                        <th scope="col">Tên Sách</th>
                                        <th scope="col">Đơn Giá</th>
                                        <th scope="col" class="text-center">Số Lượng</th>
                                        <th scope="col" class="text-right">Tổng Tiền</th>
                                        <th> </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let cartbook of CartBook">

                                        <td><img src={{cartbook.imgBook}} (click)=ViewBookDetail(cartbook._id)/> </td>
                                        <td>{{cartbook.nameBook}}</td>
                                        <td>{{cartbook.priceBook|currency:"VND"}}</td>
                                        
                                        <td><div class="input-group">
                                            <div class="input-group-btn">
                                                <button id="down" (click) = "minus(cartbook._id);" class="btn btn-default"><span class="glyphicon glyphicon-minus"></span></button>
                                            </div>
                                            <input class="form-control" min="1" max="10" value="1"
                                             id="number" value="{{cartbook.count}}"
                                              (change)="getCountUpdate($event,cartbook._id)" 
                                              onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"
                                            style="text-align: center;" />
                                            <div class="input-group-btn">
                                                <button id="up" (click) = "plus(cartbook._id);" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span></button>
                                            </div>
                                        </div></td>
                                        <td class="text-right">{{cartbook.priceBook*cartbook.count|currency:"VND"}}</td>
                                        <td class="text-right"><button class="btn btn-sm btn-danger" type="button" (click)="deleteCartBook(cartbook._id)"><i class="fa fa-trash"></i> 
                                </button> </td>
                                        <!-- <td><button class="btn btn-sm btn-info" type="button" (click)="updateCartBook(cartbook._id)"><i class="fa fa-edit"></i> 
                                </button> </td> -->

                                    </tr>

                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Tổng Tiền</td>
                                        <td class="text-right">{{TongTien|currency:"VND"}}</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Giao Hàng</td>
                                        <td class="text-right">6,90 đ</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td><strong>Xác Nhận Tổng Tiền</strong></td>
                                        <td class="text-right"><strong>346,90 đ</strong></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col mb-2">
                        <div class="row">
                            <div class="col-sm-12  col-md-6">
                                <button id="continue" class="btn btn-block btn-light " style="padding: 10px 16px;" (click)="goToBookCategory()">Tiếp tục mua hàng</button>
                            </div>
                            <div class="col-sm-12 col-md-6 text-right">
                                <button *ngIf="checkViewCart" class="btn btn-lg btn-block btn-success text-uppercase" type="button" (click)="checkoutWhenNull()">Tiến hành đặt hàng</button>
                                <button *ngIf="!checkViewCart" class="btn btn-lg btn-block btn-success text-uppercase" type="button" (click)="goToShipping()">Tiến hành đặt hàng</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- #content -->


        <!-- Back to Top -->
        <div id="back-to-top" data-spy="affix" data-offset-top="300" class="back-to-top hidden-xs hidden-sm affix">
            <button id="scrollToTopButton" class="btn btn-primary" title="Back to Top"><i class="fa fa-arrow-up"></i></button>
        </div>
        <!-- Back to Top -->
    </div>

    <div *ngIf="alertSucess" name="alertSucess" class="alert alert-success" role="alert" style=" position: fixed;width: 50%;bottom: 0;left: 40px;z-index: 1;">
        {{alertMessage}}
    </div>
    <div *ngIf="alertFalse" name="alertFalse" class="alert alert-danger" role="alert" style=" position: fixed;width: 50%;bottom: 0;left: 40px;z-index: 1;">
        {{alertMessage}}
    </div>
</body>

<style id='bookstore-custom-styles-inline-css' type='text/css'>
    .product-header {
        background: url(../wp-content/uploads/2016/01/title.jpg);
        background-color: #e5e5e5;
    }
    .page-header {
        background: url(http://wp.acmeedesign.com/bookstore/wp-content/uploads/2016/02/Bookshelf-1200.jpg);
        background-color: #555555;
    }
    .btn-primary,
    #back-to-top .btn {
        background-color: #27ae61 !important;
        border-color: #27ae61 !important;
        color: #ffffff !important;
    }
    .read-more:hover {
        color: #229955;
    }
</style>