<head>
    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">

</head>

<body class="">
    <div class="wrapper">
        <div class="main-panel" style="font-size: 13px;">
            <!-- Navbar -->
            <app-header></app-header>
            <!-- End Navbar -->
            <style>
                fieldset {
                    /* background-color: #eeeeee; */
                    border: 1px solid gray;
                }

                legend {
                    background-color: gray;
                    color: white;
                    padding: 5px 10px;
                }
                a{
                    cursor: pointer;
                }
                .card-icon{
                    cursor: pointer;
                }
            </style>
            <div class="content" style="background-color: #EEEEEE;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <div class="card-icon" (click) = "moveToManageUser();">
                                        <i class="material-icons">supervisor_account</i>
                                    </div>
                                    <p class="card-category">Quản lý người dùng</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-danger">supervisor_account</i>
                                        <a (click) = "moveToManageUser();">Quản lý người dùng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-success card-header-icon">
                                    <div class="card-icon" (click)="moveToManageOrder();">
                                        <i class="material-icons">receipt</i>
                                    </div>
                                    <p class="card-category">Quản lý hóa đơn</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-danger">receipt</i>
                                        <a (click)="moveToManageOrder();">Quản lý hóa đơn</a>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-danger card-header-icon">
                                    <div class="card-icon" (click)="moveToManageBook();">
                                        <i class="material-icons">book</i>
                                    </div>
                                    <p class="card-category">Quản lý sách</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-danger">book</i>
                                        <a (click)="moveToManageBook();">Quản lý sách</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-info card-header-icon">
                                    <div class="card-icon" (click)="moveToManageAuthor();">
                                        <i class="material-icons">face</i>
                                    </div>
                                    <p class="card-category">Quản lý tác giả</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-danger">face</i>
                                        <a (click)="moveToManageAuthor();">Quản lý tác giả</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-warning card-header-icon">
                                    <div class="card-icon" (click)="moveToManageCategory();">
                                        <i class="material-icons">category</i>
                                    </div>
                                    <p class="card-category">Quản lý loại sách</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-danger">category</i>
                                        <a (click)="moveToManageCategory();">Quản lý loại sách</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-stats">
                                <div class="card-header card-header-success card-header-icon">
                                    <div class="card-icon" (click)="moveToManageEvent();">
                                        <i class="material-icons">list_alt</i>
                                    </div>
                                    <p class="card-category">Quản lý danh sách khuyến mãi</p>
                                </div>
                                <div class="card-footer">
                                    <div class="stats">
                                        <i class="material-icons text-danger">list_alt</i>
                                        <a (click)="moveToManageEvent();">Quản lý danh sách khuyến mãi</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
        </div>
    </div>
</body>
  <!-- <li class="nav-item ">
                <a class="nav-link" type="button" (click)="moveToManageOrder();">
                    <i class="material-icons">bubble_chart</i>
                    <p>Manage Order</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" type="button" (click)="moveToManageBook();">
                    <i class="material-icons">content_paste</i>
                    <p>Manage Book</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" type="button" (click)="moveToManageAuthor();">
                    <i class="material-icons">content_paste</i>
                    <p>Manage Author</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" type="button" (click)="moveToManageCategory();">
                    <i class="material-icons">content_paste</i>
                    <p>Manage Category</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" type="button" (click)="moveToManageEvent();">
                    <i class="material-icons">content_paste</i>
                    <p>Manage Event</p>
                </a>
            </li> -->